.week {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    width: 100%;
}

.week__day {
    align-items: center;
    border: 1px solid black;
    box-sizing: border-box;
    display: flex;
    font-size: 13px;
    font-weight: 700;
    height: 35px;
    justify-content: center;
    text-transform: uppercase;
}
